/* Import Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Rubik+Mono+One&family=Russo+One&display=swap");

/* Asterisk wildcard selector to give the site default styles*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* Generic projects style */
    color: black;
    font-family: "Oswald", sans-serif;
}


/* Header */
#logo {
    position: relative;
    width: 50px;
    height: 50px;
}



